## Day 0 : Hello World

In [ ]:
# Read a full line of input from stdin and save it to our dynamically typed variable, input_string.
input_string = input()

# Print a string literal saying "Hello, World." to stdout.
print('Hello, World.')
print(input_string)
# TODO: Write a line of code here that prints the contents of input_string to stdout.

## Day 1 : Data Types

In [ ]:
i = 4
d = 4.0
s = 'HackerRank '
# Declare second integer, double, and String variables.
a=int(input())
b=float(input())
char=input()
# Read and save an integer, double, and String to your variables.

# Print the sum of both integer variables on a new line.
print(a+i)
# Print the sum of the double variables on a new line.
print(b+i)
# Concatenate and print the String variables on a new line
# The 's' variable above should be printed first.
print(s+char)

## Day 2 : Operators

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the solve function below.
def solve(meal_cost, tip_percent, tax_percent):
    tip=meal_cost*(tip_percent/100)
    tax=meal_cost*(tax_percent/100)
    final= meal_cost+tip+tax
    print(round(final))
if __name__ == '__main__':
    meal_cost = float(input())

    tip_percent = int(input())

    tax_percent = int(input())

    solve(meal_cost, tip_percent, tax_percent)

## Day 3 : Intro to Conditional Statements

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    N = int(input())
    if N%2==1:
        print("Weird")
    if N%2==0:
        if N>=2 and N<=5:
            print("Not Weird")
        elif N>=6 and N<=20:
            print("Weird")
        else:
            print("Not Weird")

## Day 4 : Class vs. Instance

In [ ]:
class Person:
    def __init__(self,initialAge):
        # Add some more code to run some checks on initialAge
        if initialAge < 0:
            print("Age is not valid, setting age to 0.")
            self._age = 0
        else:
            self._age = initialAge
    def amIOld(self):
        # Do some computations in here and print out the correct statement to the console
        if self._age < 13:
            print("You are young.")
        elif (13 <= self._age) and (self._age < 18):
            print("You are a teenager.")
        else:
            print("You are old.")
    def yearPasses(self):
        # Increment the age of the person in here
        self._age += 1

t = int(input())

## Day 5 : Loops

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input())
    for i in range(1,11):
        print(f'{n} x {i} = {n*i}')

## Day 6 : Let's Review

In [ ]:
T = int(input().strip())

for i in range(0, T):
	S = input()
	even, odd = S[::2], S[1::2]
	print(even + " " + odd)

## Day 7 : Arrays

In [ ]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input())

    arr = list(map(int, input().rstrip().split()))
    print(*(arr[::-1]))

## Day 8 : Dictionaries and maps

In [ ]:
phonebook = {}
entries = int(raw_input())

for n in range(entries):
    name, num = raw_input().strip().split(' ')
    name, num = [str(name), int(num)]
    phonebook[name] = num

while True:
    try:  
        search = str(raw_input())

        if search in phonebook:
            output = ''.join('%s=%r' % (search, phonebook[search]))
            print output
        else:
            print "Not found"
    except EOFError:
        break

## Day 9 : Recursion 3

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the factorial function below.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
    print(result)
if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    n = int(input())
    
    result = factorial(n)

    fptr.write(str(result) + '\n')

    fptr.close()

## Day 10 : Binary Numbers

In [ ]:
n = int(input())

max_one_count = 0
one_count = 0

while n != 0:
	factor = n // 2
	remainder = n - 2 * factor
	n = factor
	if remainder == 1:
		one_count += 1
		max_one_count = max(max_one_count, one_count)
	else:
		one_count = 0

print(max_one_count)

## Day 11 : 2D Arrays

In [ ]:
A = []
for arr_i in range(6):
	arr_t = [int(arr_temp) for arr_temp in input().strip().split(' ')]
	A.append(arr_t)

smax = -9 * 7

for row in range(len(A) - 2):
	for column in range(len(A[row]) - 2):
		tl = A[row][column]
		tc = A[row][column + 1]
		tr = A[row][column + 2]
		mc = A[row + 1][column + 1]
		bl = A[row + 2][column]
		bc = A[row + 2][column + 1]
		br = A[row + 2][column + 2]
		s = tl + tc + tr + mc + bl + bc + br
		smax = max(s, smax)

print(smax)

## Day 12 : Inheritance

In [ ]:
lass Person:
	def __init__(self, firstName, lastName, idNumber):
		self.firstName = firstName
		self.lastName = lastName
		self.idNumber = idNumber
	def printPerson(self):
		print("Name:", self.lastName + ",", self.firstName)
		print("ID:", self.idNumber)
        
class Student(Person):
    #   Class Constructor
    #   Parameters:
    #   firstName - A string denoting the Person's first name.
    #   lastName - A string denoting the Person's last name.
    #   id - An integer denoting the Person's ID number.
    #   scores - An array of integers denoting the Person's test scores.
    #
    # Write your constructor here
    def __init__(self, firstName, lastName, idNumber, scores):
            super().__init__(firstName, lastName, idNumber)
            self.scores = scores

    #   Function Name: calculate
    #   Return: A character denoting the grade.
    #
    # Write your function here
    def calculate(self):
            a = sum(self.scores) / len(self.scores)
            if a < 40:
                return "T"
            elif (40 <= a) and (a < 55):
                return "D"
            elif (55 <= a) and (a < 70):
                return "P"
            elif (70 <= a) and (a < 80):
                return "A"
            elif (80 <= a) and (a < 90):
                return "E"
            elif (90 <= a) and (a <= 100):
                return "O"
            else:
                return ""

line = input().split()
firstName = line[0]
lastName = line[1]
idNum = line[2]
numScores = int(input()) # not needed for Python
scores = list( map(int, input().split()) )
s = Student(firstName, lastName, idNum, scores)
s.printPerson()
print("Grade:", s.calculate())

## Day 13 : Abstract Classes

In [ ]:
from abc import ABCMeta, abstractmethod
class Book(object, metaclass=ABCMeta):
    def __init__(self,title,author):
        self.title=title
        self.author=author   
    @abstractmethod
    def display(): pass


# Write MyBook class
class MyBook(Book):
    def __init__(self, title, author, price):
        super().__init__(title, author)
        self.price = price

    def display(self):
        print("Title:", self.title)
        print("Author:", self.author)
        print("Price:", self.price)


title=input()

## Day 14 : Scope

In [ ]:
class Difference:
    def __init__(self, a):
        self.__elements = a
        self.maximumDifference = 0

    # Add your code here
    def computeDifference(self):
        l = len(a)
        for i in range(0, l):
            for j in range(i + 1, l):
                difference = abs(a[i] - a[j])
                self.maximumDifference = max(difference, self.maximumDifference)

## Day 15 : Linked List

In [ ]:
def insert(self,head,data): 
    #Complete this method
        node = Node(data)
        if head==None :
            return node
        else :
            currentNode=head;
            while currentNode.next != None :
                currentNode=currentNode.next;
            currentNode.next=node
            return head

## Day 16 : Exceptions-String to Integer

In [ ]:
try:
    i = int(S)
    print(i)
except ValueError:
    print("Bad String")