## Day 0 : Hello World

In [ ]:
# Read a full line of input from stdin and save it to our dynamically typed variable, input_string.
input_string = input()

# Print a string literal saying "Hello, World." to stdout.
print('Hello, World.')
print(input_string)
# TODO: Write a line of code here that prints the contents of input_string to stdout.

## Day 1 : Data Types

In [ ]:
i = 4
d = 4.0
s = 'HackerRank '
# Declare second integer, double, and String variables.
a=int(input())
b=float(input())
char=input()
# Read and save an integer, double, and String to your variables.

# Print the sum of both integer variables on a new line.
print(a+i)
# Print the sum of the double variables on a new line.
print(b+i)
# Concatenate and print the String variables on a new line
# The 's' variable above should be printed first.
print(s+char)

## Day 2 : Operators

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the solve function below.
def solve(meal_cost, tip_percent, tax_percent):
    tip=meal_cost*(tip_percent/100)
    tax=meal_cost*(tax_percent/100)
    final= meal_cost+tip+tax
    print(round(final))
if __name__ == '__main__':
    meal_cost = float(input())

    tip_percent = int(input())

    tax_percent = int(input())

    solve(meal_cost, tip_percent, tax_percent)

## Day 3 : Intro to Conditional Statements

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    N = int(input())
    if N%2==1:
        print("Weird")
    if N%2==0:
        if N>=2 and N<=5:
            print("Not Weird")
        elif N>=6 and N<=20:
            print("Weird")
        else:
            print("Not Weird")

## Day 4 : Class vs. Instance

In [ ]:
class Person:
    def __init__(self,initialAge):
        # Add some more code to run some checks on initialAge
        if initialAge < 0:
            print("Age is not valid, setting age to 0.")
            self._age = 0
        else:
            self._age = initialAge
    def amIOld(self):
        # Do some computations in here and print out the correct statement to the console
        if self._age < 13:
            print("You are young.")
        elif (13 <= self._age) and (self._age < 18):
            print("You are a teenager.")
        else:
            print("You are old.")
    def yearPasses(self):
        # Increment the age of the person in here
        self._age += 1

t = int(input())

## Day 5 : Loops

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input())
    for i in range(1,11):
        print(f'{n} x {i} = {n*i}')

## Day 6 : Let's Review

In [ ]:
T = int(input().strip())

for i in range(0, T):
	S = input()
	even, odd = S[::2], S[1::2]
	print(even + " " + odd)

## Day 7 : Arrays

In [ ]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input())

    arr = list(map(int, input().rstrip().split()))
    print(*(arr[::-1]))

## Day 8 : Dictionaries and maps

In [ ]:
phonebook = {}
entries = int(raw_input())

for n in range(entries):
    name, num = raw_input().strip().split(' ')
    name, num = [str(name), int(num)]
    phonebook[name] = num

while True:
    try:  
        search = str(raw_input())

        if search in phonebook:
            output = ''.join('%s=%r' % (search, phonebook[search]))
            print output
        else:
            print "Not found"
    except EOFError:
        break

## Day 9 : Recursion 3

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the factorial function below.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
    print(result)
if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    n = int(input())
    
    result = factorial(n)

    fptr.write(str(result) + '\n')

    fptr.close()